extends ../layouts/main/layout.pug

block title
  | Index

block content
  .start

    .text
      .text__container
        span 5 Hidden Dogs
        .text__container-img
          img(src='src/assets/img/doggy.png' alt="lady")
      span Can you spot them?
  .finish
    .finish__lady
      img(src='src/assets/img/char.png' alt="lady")
    .finish__img
      img(src='src/assets/img/logo.png' alt="logo")
    b.title Great Job
    .text
      span 5 Hidden Dogs
      span Can you spot them
  a(href="https://www.g5e.com/ru/").button play now

